.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@keyframes floatSlow {

    0%,
    100% {
        transform: translateY(-12px) rotate(-2deg);
    }

    50% {
        transform: translateY(12px) rotate(2deg);
    }
}

@keyframes floatReverse {

    0%,
    100% {
        transform: translateY(12px) rotate(2deg);
    }

    50% {
        transform: translateY(-12px) rotate(-2deg);
    }
}

.animate-float-slow {
    animation: floatSlow 6.5s ease-in-out infinite;
}

.animate-float-reverse {
    animation: floatReverse 7s ease-in-out infinite;
}